*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@media screen and (max-width: 750px) {
		font-size: 57.5%;
	}

	@media screen and (max-width: 500px) {
		font-size: 51%;
	}

	@media screen and (max-width: 450px) {
		font-size: 44%;
	}

	@media screen and (max-width: 400px) {
		font-size: 42%;
	}
}

body {
	font-family: $font-stack-primary;
	overflow-x: hidden;
	font-size: 1.75rem;
	background-color: $dark-blue;
	color: white;
	perspective: 100rem;
	position: relative;
}

a {
	text-decoration: none;
	display: inline-block;
}

li {
	list-style-type: none;
}
