.game-heading {
	font-size: 4.5rem;
	text-align: center;
	font-family: $font-stack-secondary;
	letter-spacing: 4px;
	font-weight: 400;
	margin-bottom: 0;

	.heading-tic,
	.heading-tac {
		font-size: 7rem;
		font-weight: 300;
	}

	.heading-tic {
		color: $primary-blue;
	}

	.heading-tac {
		color: $color-red;
	}
}

.game-menu {
	display: flex;
	justify-content: center;
	padding: 4.5rem 0;

	.menu-tic,
	.menu-tac {
		font-size: 3.5rem;
		margin-right: 2rem;
	}

	.menu-tic {
		color: $primary-blue;

		&.menu-turn-tick {
			margin-right: 1.5rem;
		}
	}

	.menu-tac {
		color: $color-red;
	}

	.tic-side,
	.tac-side {
		background-color: white;
		font-size: 2.2rem;
		border-radius: 5px;
		padding: 1.2rem;
		color: $dark-blue;
		position: relative;

		.winning-tag {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			color: white;
			padding: 0.5rem 1.75rem;
			border-radius: 5px;
			z-index: -1;

			&.show {
				top: -3.5rem;
			}
		}
	}

	.tic-side {
		//box-shadow: 0 0.75rem 1.5rem 0 rgba(0, 123, 255, 0.4);

		&.turn-player {
			color: white;
			background-color: $primary-blue;
			.menu-tic {
				color: white;
			}
		}

		.winning-tag {
			background-color: $primary-blue;
		}
	}

	.tac-side {
		//box-shadow: 0 0.75rem 1.5rem 0 rgba(247, 16, 18, 0.4);
		.winning-tag {
			background-color: $color-red;
		}

		&.turn-player {
			color: white;
			background-color: $color-red;
			.menu-tac {
				color: white;
			}
		}
	}

	.turn {
		font-size: 2.2rem;
		margin: 0 5rem 0 5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		.turn-shape {
			font-size: 3.5rem;

			&.turn-shape-x {
				color: $primary-blue;
			}

			&.turn-shape-o {
				color: $color-red;
			}
		}

		.draw-tag {
			position: absolute;
			background-color: black;
			font-size: 1.8rem;
			padding: 0.3rem 1.3rem;
			border-radius: 5px;
			left: 50%;
			transform: translateX(-50%);
			top: -4.5rem;
			visibility: hidden;

			&.show {
				visibility: visible;
			}
		}
	}
}

.game-board {
	display: grid;
	grid-template-columns: repeat(3, 10rem);
	grid-template-rows: repeat(3, 10rem);
	justify-content: center;
	transition: transform 350ms ease-in;
	backface-visibility: hidden;
	margin-bottom: 3.5rem;

	// &.hide {
	// 	transform: scaleX(0);
	// }

	.spot {
		border: 2px solid white;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		&.horizontal {
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 3px;
				left: 0;
				top: 55%;
				transform: translateY(-50%);
				background-color: white;
			}
		}

		&.vertical {
			&::after {
				content: "";
				position: absolute;
				width: 3px;
				height: 100%;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
				background-color: white;
			}
		}

		&.diagonalOne {
			&::after {
				content: "";
				position: absolute;
				width: 150%;
				height: 3px;
				left: 0;
				top: 0;
				transform: rotate(45deg) translateY(5rem) translateX(1rem);
				background-color: white;
			}
		}

		&.diagonalTwo {
			&::after {
				content: "";
				position: absolute;
				width: 150%;
				height: 3px;
				left: 0;
				top: 0;
				transform: translateY(5rem) translateX(1rem);
				background-color: white;
			}
		}
	}
	.spot-top {
		border-top: none;
	}
	.spot-bottom {
		border-bottom: none;
	}
	.spot-side-left {
		border-left: none;
	}
	.spot-side-right {
		border-right: none;
	}

	.shape-gameboard {
		font-size: 4.5rem;

		&-x {
			color: $primary-blue;
		}

		&-o {
			color: $color-red;
		}
	}
}

.result {
	display: none;
	margin: 3rem 0 0 0;
	text-align: center;
	font-size: 2.5rem;

	&.show {
		display: block;
	}
}

@keyframes winningAnimation {
	0% {
		transform: scale(1);
		text-shadow: none;
	}

	100% {
		transform: scale(1.3);
		text-shadow: 0 0 1.5rem currentColor;
	}
}

.reset-button {
	border: none;
	outline: none;
	padding: 0.7rem 1.3rem;
	font-size: 1.55rem;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: red;
	color: white;
	display: block;
	margin: auto;
	letter-spacing: 3px;
	font-weight: 700;
	cursor: pointer;

	&:hover {
		background-color: lighten(red, 3%);
	}

	&:active {
		background-color: darken(red, 10%);
	}
}
