//colors
$primary-blue: rgb(0, 123, 255);
$color-red: rgb(247, 16, 18);
$dark-blue: #262632;

//fonts
$font-stack-primary: "Open Sans", sans-serif;
$font-stack-secondary: "Source Code Pro", monospace;
$font-stack-tertiary: "Roboto", sans-serif;
